@import url("common.css");
@import url("side_menu.css");
@import url("staff_entry.css");


.children a:hover{
    background-color: #a51417;
    color: white;
}

.tabbed{
    padding-left: 20px !important;
}